<form [formGroup]="form">
  <div>
    <mat-form-field appearance="standard">
      <mat-label>Images per row</mat-label>
      <input matInput type="number" [formControl]="form.controls.imagesPerRow" min="1">
    </mat-form-field>
  </div>

  <mat-card class="image-input" *ngFor="let group of form.controls.images.controls; index as i">
    <mat-form-field appearance="fill" class="urlInput">
      <mat-label>URL</mat-label>
      <input matInput [formControl]="group.controls.url">
    </mat-form-field>

    <mat-form-field appearance="fill" class="captionInput">
      <mat-label>Caption</mat-label>
      <textarea matInput [formControl]="group.controls.caption"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" class="altTextInput">
      <mat-label>Alt Text</mat-label>
      <textarea matInput [formControl]="group.controls.altText"></textarea>
      <mat-hint>For screen readers</mat-hint>
    </mat-form-field>

    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="removeImage(i)">Remove</button>
    </mat-card-actions>
  </mat-card>

  <div>
    <button mat-raised-button color="primary" (click)="addImage()">Add Image</button>
  </div>
</form>

<mat-divider></mat-divider>

<article class="preview">
  <header>
    <div>
      <div class="headerInfo">
        <span class="authorName">Eggbug</span>
        <span class="authorAt">@eggbug</span>
      </div>
      <div class="menu">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true"
          class="h-6 w-6 text-notBlack transition-transform ">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z">
          </path>
        </svg>
      </div>
    </div>
  </header>
  <hr>
  <div class="contentOuter">
    <div class="contentInner">
      <div [style]="gridStyle">
        <a *ngFor="let image of validImages" href="{{image.url}}" [style]="imageStyle">
          <img src="{{image.url}}" alt="{{image.altText}}" style="width: 100%">
          <span *ngIf="image.caption" [innerHTML]="captionText(image)"
            style="color: white; position: absolute; bottom: 10%; left: 12%; right: 12%; display: block; text-align: center">
          </span>
        </a>
      </div>
    </div>
  </div>
  <hr>
  <footer>
    <div>
      <div class="comments">0 comments</div>
      <div class="footerIcons">
        <svg class="delete" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
          aria-hidden="true" class="h-6 w-6 text-notBlack">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16">
          </path>
        </svg>
        <svg class="post" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
          aria-hidden="true" class="absolute top-0 left-0">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"></path>
        </svg>
        <svg class="edit" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
          aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z">
          </path>
        </svg>
      </div>
    </div>
  </footer>
</article>